# Alias the Sparkfun 9DoF as imu, and the electronic speed controller as VESC
ACTION=="add", ATTRS{idVendor}=="1b4f", ATTRS{idProduct}=="9d0f", SYMLINK+="imu"
ACTION=="add", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="vesc"
ACTION=="add", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0291", SYMLINK+="xbox360"
ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="rplidar"
